<div class="flex flex-col items-center justify-center h-screen">
  <div class="flex w-96 mb-5 justify-between border-b border-sky-500 pb-5">
    <img src="assets/logo.svg" class="bg-sky-500 h-14 p-3 rounded shadow" alt="Equal Experts Logo">
    <div class="text-sky-500 text-2xl flex items-center h-full select-none">
      Pocket Calculator
    </div>
  </div>
  
  <div class="border border-sky-500 rounded w-96 shadow">
    <input
      type="text"
      class="w-full text-4xl h-24 rounded-t border-none text-white text-right pr-5 pl-3 bg-sky-500"
      [value]="currentNumber"
      disabled
    />

    <div class="grid grid-cols-4 gap-5 p-5">
      <button type="button" class="button operator" (click)="getOperation(Operator.Add)" value="+">+</button>
      <button type="button" class="button operator" (click)="getOperation(Operator.Subtract)" value="-">-</button>
      <button type="button" class="button operator" (click)="getOperation(Operator.Multiply)" value="*">&times;</button>
      <button type="button" class="button operator" (click)="getOperation(Operator.Divide)" value="/">&divide;</button>

      <button class="button" type="button" (click)="getNumber('7')" value="7">7</button>
      <button class="button" type="button" (click)="getNumber('8')" value="8">8</button>
      <button class="button" type="button" (click)="getNumber('9')" value="9">9</button>

      <button class="button" type="button" (click)="getNumber('4')" value="4">4</button>
      <button class="button" type="button" (click)="getNumber('5')" value="5">5</button>
      <button class="button" type="button" (click)="getNumber('6')" value="6">6</button>

      <button class="button" type="button" (click)="getNumber('1')" value="1">1</button>
      <button class="button" type="button" (click)="getNumber('2')" value="2">2</button>
      <button class="button" type="button" (click)="getNumber('3')" value="3">3</button>

      <button class="button" type="button" (click)="getNumber('0')" value="0">0</button>
      <button type="button" class="button" (click)="addDecimal()" value=".">.</button>
      <button
        type="button"
        class="button border border-red-400 bg-gradient-to-b from-red-300 to-red-500 text-white hover:bg-gradient-to-b hover:from-red-300 hover:to-red-600"
        (click)="clear()"
        value="all-clear"
      >
        AC
      </button>

      <button
        type="button"
        class="button border border-green-400 bg-gradient-to-b from-green-300 to-green-500 text-white hover:bg-gradient-to-b hover:from-green-300 hover:to-green-600 h-full grid-equals"
        (click)="getOperation(Operator.Equals)"
        value="="
      >
        =
      </button>
    </div>
  </div>
</div>
